#logo{
    width: 30px;
    height: 30px;
}

main{
    background-color: black;
    color: white;
}

hr{
    background-color:whitesmoke;
}

.card{
    background-color: cyan;
}

#presentacion .icono{
    background-color: cyan;
}

 h2{
    text-align: center;
}



